<html>

<head>
    <title>FSA</title>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyAjoxyPtkABUURA4tMqPyuJI8BsqIxS9Jg&sensor=true"></script>
    <script src="/static/js/lib/d3.v3.js"></script>
    <script src="/static/js/lib/nv.d3.js"></script>
    <script src="/static/js/lib/underscore.js"></script>

    <link href="/static/css/nv.d3.css" rel="stylesheet" type="text/css">

    <script>
        function fetchSchoolData() {
            var school_select_element = document.querySelector( "#school-select" );
            var params = school_select_element.value;
            console.log("foo!");
            d3.json("/fsa/data?"+params, function(data) {
                addData(parseToXY(data));
                drawChart();
            });
        }
    </script>

</head>

<body>
    <div id="chart">
      <svg style="height: 400px"></svg>
    </div>

    <select id="district-select" onChange="fetchSchools(this.value)">
        <!-- Fill this dynamically with js -->
    </select>

    <select id="school-select">
        {% for school in schools %}
        <option value="school_name={{school.school_name}}&district_id={{school.district_number}}">{{school.school_name}}</option>
        {% endfor %}
    </select>

    <button onClick="fetchSchoolData()">Add</button>

    <div id="map-canvas" style="width: 100%; height: 100%"></div>
    <script src="/static/js/fsa_linechart.js?_ts={{timestamp}}"></script>
    <script>
        // No Data. Just draw chart as placeholder.
        fetchDistricts();
        drawChart();
    </script>
</body>

</html>
